/* src\index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.camera-marker svg {
  transition: all 0.3s ease;
}

.camera-marker-highlighted svg {
  transition: all 0.3s ease;
  transform: scale(1.2);
}